.child-container{
    width: 300px;
    height: 150px;
    border: 2px solid lawngreen;
    .router-active{
        color: mediumpurple;
    }
    ul,li{
        display: inline;
        margin: 0 10px;
    }
}